/*.dialogs {*/
/*display: grid;*/
/*    grid-template-columns: 2fr 10fr;*/
/*}*/
/*.dialogsItems {*/
/*    padding: 10px;*/
/*    color: antiquewhite;*/

/*}.dialogs .active {*/
/*     color: blueviolet;*/

/* }*/

/*.messages {*/
/*    padding: 10px;*/
/*}*/

/*.messages .message {*/
/*color: brown;*/
/*}*/
.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding: 10px;

}
.dialog{

}
.active{
    color: gold;
}
.messages{
    padding: 10px;
}
.message{

}